body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  --colors-lightest: #fff;
  --colors-light: #e1e1e1;
  --colors-font-primary: #2f516d;
  --colors-font-secondary: #899bb2;
  --colors-dark: #444;
}

h1, h2, h3, p{
  margin: 0;
}

